.home-head-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.home-head-box .picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.home-head-box .picture img {
  display: block;
  width: 100%;
  height: 100%;
}
.home-head-box .info {
  display: flex;
  align-items: center;
}
.home-head-box .info .title {
  padding-left: 24px;
  height: 64px;
  line-height: 64px;
  font-size: 40px;
  border-left: 2px solid #b3b1b1;
}
.home-head-box .info .time {
  padding-right: 30px;
  height: 70px;
}
.home-head-box .info .time .month_day {
  display: flex;
}
.home-head-box .info .time span {
  display: block;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
}
.home-head-box .info .time span:nth-child(1) {
  font-size: 24px;
}
